# 기상청 api
KMA_BASE_URL=https://apihub.kma.go.kr/api/typ01/url
KMA_STATION_IDS=
WEATHER_API_KEY=your_weather_api_key

# s3 
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=ap-northeast-2
S3_BUCKET=weather-mlops-team-data

# wandb
WANDB_API_KEY=your_wandb_api_key
WANDB_ENTITY=your_wandb_username
WANDB_PROJECT=weather-predictor


# MySQL (API 서버용으로 수정)
DB_HOST=172.31.7.11
DB_PORT=3306
DB_USER=weather_user
DB_PASSWORD=Strong_P@ssw0rd_2025!
DB_NAME=weather



CHAMPION_MODEL=champion_model_name


